body {
	width: 100%;
	max-width: 1200px;
	margin: 0 auto;
}


header{
	display: flex;
	flex-direction: row;
	flex-wrap: nowrap;
	justify-content: space-between;
}


#logo img {
	width: 100%;
	max-width: 300px;

}

#logo p {
	text-align: center;
	font-size: 20pt;
}	


#menu {
	display: flex;
	flex-direction: row;
	align-items: center;
}

#menu li {
	list-style: none;
	margin: 5px;
}
#menu a {
	color: black;
	font-size: 15pt;
	text-decoration: none;
}
#menu a:hover {
	text-decoration: underline;
}

#clothing {
	display: flex;
	justify-content: center;
}	
main {
	display: flex;
	flex-direction: row;
	flex-wrap: wrap;
	justify-content: space-around;
}
main img {
	width: 100%;
	max-width: 350px;
	padding: 10px;
	border:3px double #BC8F8F; 
}

footer {
	display: flex;
	justify-content: center;
	margin-bottom: 50px;
}
footer  img {
	width: 100%;
	max-width: 35px;
}
footer div {
	text-align: center;
}

@media only screen and (max-width: 710px) {
		#menu {
			display: none;
		}
		header {
			
			justify-content: center;
		}
}